.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header {
  position: relative;
  z-index: 1000;
  border: 0cm;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
}

.navbar {
  background-image: linear-gradient(to right, rgb(56, 56, 56) , rgb(223, 223, 223));
  border: 0px;
  margin: 0px;
  min-height: 40px ;
  height: 43px;
  border-radius: 0%;

}

.navbar-container {
  width: 100%;
  height: 43px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  display: block;
  
}

.navbar-header {
  text-align: center;
}

.navbar-brand-mobile > img {
  margin-top: -8.5px;
  height: 20px;
  width: 20px;
  position:absolute;
  left:50%;
  top:50%;

}

.navbar-toggle {
  height: 43px;
  padding: 0px;
  padding-right: 15px;
  border: 0px;
  margin: 0px;
  background-color: none;
  float: right;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-collapse {
  border: 0px;
  padding: 0px;
}

.navbar-nav {
  width: 100%;
  height: auto;
  display: block;
  margin: 0px;
  background-color: rgb(219, 219, 219);

}

#navbar-brand {
  display: none;
}

.navbar-default .navbar-nav > li {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-align: left;
  border-bottom: 0.7px solid rgb(255, 255, 255);
  border-end-end-radius: 60%;
  color: white;

}

.navbar-default .navbar-nav > li:last-of-type {
  margin-bottom: 20px;

}

.navbar-default .navbar-nav > li:first-of-type {
  margin: 0px;
  padding: 0px;
  border: none;

}

.navbar-default .navbar-nav > li > a {
  height: 20px;
  padding: 0px;
  color: rgb(240, 240, 240);
  font-size: 0.99em;

}

.navbar-default .navbar-nav > li > a > img{
  height: 20px;
  width: 20px;
  padding: 0px;

}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(173, 173, 173);
  font-size: 0.98em;
}

.content {
  padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0px;
  padding-right: 0px; 
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  height: 43px;
  text-align: center;
  background-image: linear-gradient(to left, rgb(56, 56, 56) , rgb(223, 223, 223));
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.subheader{
  left: 0;
  width: 100%;
  position: absolute;

}

.subnavbar {
  border-top: none;
}

/* //-------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .container {
    max-width: 730px;
  }

  .navbar-nav {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;

  }

  .navbar-default .navbar-nav > li {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    border-bottom: 0px;
  
  }

  .navbar-default .navbar-nav > li:first-of-type {
    margin-top: 11.5px;
    padding: 0px;
    border: none;
  
  }

  .navbar-brand-mobile {
    display: none;
  }

  #navbar-brand {
    display: contents;
  }

  .navbar-toggle {
    float: right;
  }

 

  .navbar-collapse {
    width: 100%;
    padding-bottom: 6px;
   
  }

  .header img {
    height: 26px;
    width: 20px;
    padding-bottom: 6px;
  }

  .navbar-collapse.collapse {
    max-width: 100%;
    display: inline-block !important;
    
  }

  .navbar-header {
    float: left;

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.bricksList {
  list-style: none;
}

.footer:hover .glyphicon-heart::before {
  color: red;
}

.glyphicon-heart::before {
  transition: 0.25s color;
}
